@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
}

body {
  background-color: #eb4c89;
}

a {
  text-decoration: none;
  color: inherit;
}

.setimg {
  padding-left: 16px;
}

.App-loading-bar {
  background-color: white;
  position: absolute;
  height: 3px;
}

.home-main {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.09);
  padding: 0 4px;
}

.main-title {
  font-size: 20px;
  font-weight: 600;
  flex-grow: 1;
  text-align: center;
}

.country-name {
  font-size: 18px;
  text-transform: uppercase;
}

.Details-title {
  text-align: left;
  margin-left: 10%;
}

.mic-image {
  margin-right: 1%;
  margin-bottom: 1.2%;
}

.statsbycountry {
  font-size: 15px;
  margin-bottom: 1%;
  margin-left: 5%;
}

.App-map {
  width: 100%;
  filter: brightness(40%) opacity(0.5);
}

.home-middle {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

ul {
  padding: 0;
  margin: 0;
}

.Home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.country-info {
  background-color: rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 190px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid-item:hover {
  opacity: 0.5;
}

.grid-item:nth-child(4n + 2),
.grid-item:nth-child(4n + 3) {
  background-color: rgba(0, 0, 0, 0.08);
}

.Home-item-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  height: 100%;
}

.Home-item-top {
  padding: 8px 16px;
  display: flex;
}

.Home-item-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}

.Home-item-image {
  width: 100px;
  filter: brightness(50%) grayscale(50%) opacity(0.5);
}

.item-image {
  position: absolute;
  right: 4px;
  top: 4px;
}

.banner {
  padding: 24px;
  display: flex;
  gap: 30px;
  text-align: end;
}

.banner-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.banner-left {
  width: 100%;
  align-items: flex-start;
}

.Details-item {
  padding: 24px 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.Details-item:nth-child(odd) {
  background-color: rgba(225, 225, 225, 0.08);
}

.Details-item-title {
  font-size: 19px;
}

.Details-item-right {
  display: flex;
  gap: 20px;
}

.right-arrow-img {
  height: 25px;
  width: 25px;
}

.search {
  color: black;
  margin-left: 9%;
  height: 25px;
  width: 185px;
}

.middle {
  display: flex;
  flex-direction: row;
}
